body{
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2ms;
    -o-transition: all 0.2ms;
    transition: all 0.2s; 
}
.section-post-wrapper ul li p{
	margin: 5px auto!important;
}
#real-accessability{
	position: inherit;
	border: none;
	width: auto;
}
#real-accessability ul{
	list-style: none;
}
#real-accessability ul li a{
	display: inline;
}
#real-accessability ul li{
	border: none;
	display: inline;
	margin: 10px;
}
.cursoInfo p{
	height: auto;
}
