#real-accessability{
	position: inherit;
	border: none;
	width: auto;
}
#real-accessability ul{
	list-style: none;
}
#real-accessability ul li a{
	display: inline;
}
#real-accessability ul li{
	border: none;
	display: inline;
	margin: 10px;
}
.cursoInfo p{
	height: auto;
}