@font-face {
	font-family: 'realaccessability';
	srcurl('fontsrealaccessability.eot717675');
	srcurl('fontsrealaccessability.eot717675#iefix') format('embedded-opentype'),
		url('fontsrealaccessability.ttf717675') format('truetype'),
		url('fontsrealaccessability.woff717675') format('woff'),
		url('fontsrealaccessability.svg717675#realaccessability') format('svg');
	font-weight: normal;
	font-style: normal;
}

.real-accessability-body {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2ms;
    -o-transition: all 0.2ms;
    transition: all 0.2s; 	
}

#real-accessability {
	width: 200px;
	background: #fff;
	border: 1px #063d8d solid;
	border-right-width: 0;
	position: fixed;
	top: 110px;
	right: -200px;
	min-height: 35px;
	z-index: 999999999;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2ms;
    -o-transition: all 0.2ms;
    transition: all 0.2s;  
    font-size: 15px;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#real-accessability a#real-accessability-btn {
	background-color: #063d8d;
	position: absolute;
	top: -1px;
	left: -40px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

#real-accessability a#real-accessability-btn i {
	font-family: 'realaccessability';
	font-size: 26px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	display: inline-block;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	color: #fff;	
}

#real-accessability a#real-accessability-btn i.real-accessability-iconbefore {
	content: e907;	
}

#real-accessability a#real-accessability-btn i.real-accessability-loading {
	display: none;
}

#real-accessability a#real-accessability-btn i.real-accessability-loadingbefore {
	content: e908;
	font-size: 20px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;		
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	
	to {
		-webkit-transform: rotate(360deg);
	}
}

#real-accessability.open {
	right: 0;
}

#real-accessability ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #fff;
}

#real-accessability ul li {
	line-height: 38px;
	border-top: 1px #ccc solid;
}

#real-accessability ul lifirst-child {
	border-top: 0;
}

#real-accessability ul li a {
	display: block;
	padding: 0 10px;
	color: #222;
	text-decoration: none;
	position: relative;
}

#real-accessability ul li abefore {
	font-family: 'realaccessability';
	content  ;
	font-size: 17px;
	margin-right: 10px;
	position: relative;
	top: 2px;
	display: inline-block;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

#real-accessability ul li a#real-accessability-biggerFontbefore {
	content: e901;
}

#real-accessability ul li a#real-accessability-smallerFontbefore {
	content: e902;
}

#real-accessability ul li a#real-accessability-invertbefore {
	content: e903;	
}

#real-accessability ul li a#real-accessability-grayscalebefore {
	content: e904;
}

#real-accessability ul li a#real-accessability-linkHighlightbefore {
	content: e906;
}

#real-accessability ul li a#real-accessability-regularFontbefore {
	content: e900;
}

#real-accessability ul li a#real-accessability-resetbefore {
	content: e905;
}
#real-accessability ul li a#real-accessability-conteudobefore {
	content: e9ca;
}
#real-accessability ul li a#real-accessability-accessbefore {
	content: e907;
}


#real-accessability ul li ahoverbefore,
#real-accessability ul li a.clickedbefore {
	background-position-y bottom: !important;
}

#real-accessability ul li ahover {
	background-color: #fafafa;
	color: #063d8d;
}

#real-accessability ul li a.clicked {
	background-color: #fafafa;
	color: #063d8d;
	-moz-box-shadow: inset 0 0 3px #ccc;
	-webkit-box-shadow: inset 0 0 3px #ccc;
	box-shadow: inset 0 0 3px #ccc;	
}

#real-accessability-copyright {
	text-align: center;
	line-height: 25px;
	font-size: 13px;
}

#real-accessability-copyright a {
	background: #eaedf2;
	color: #424e5f;
	display: block; 
	padding: 8px 10px;
}

#real-accessability-copyright ahover {
	background: #355f9d;
	text-decoration: underline;
	color: #fff;
}


.real-accessability-grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	background: #000000;
    color: #FFFFFF;
    
 }

.real-accessability-contrast {
    -webkit-filter: contrast(100%);
    filter: contrast(100%);	
    color: #000;
}

.real-accessability-invert {
    background:#000000;
    color:#FFFFFF;	
}

.real-accessability-invert {
    -webkit-filter: invert(10000%);
    filter: invert(10000%);	
}


.real-accessability-linkHighlight a {
	text-decoration: underline !important;
}

.real-accessability-regularFont {
	font-family: Arial, Helvetica, sans-serif !important;
}

 RTL Support 
html[dir=rtl] #real-accessability {
	left: -197px;
	right: auto;
	border-right-width: 1px;
	border-left-width: 0;
	
}

html[dir=rtl] #real-accessability.open {
	right: auto;
	left: 0;
}

html[dir=rtl] #real-accessability a#real-accessability-btn {
	
	left: auto;
}

html[dir=rtl] #real-accessability ul li abefore {
	margin-right: 0;
	margin-left: 10px;
}
